In [25]:
import pandas as pd

In [26]:
dataset=pd.read_csv("pre_placement.csv")

In [27]:
dataset.isnull().sum()

sl_no             0
ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
dtype: int64

In [28]:
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.000000,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.000000,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.000000,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.000000,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,288655.405405,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

# Independent Unpaired TTest
## groups should be categorical and Conditions should be in Numeric

### Different groups(male, female) same condition (salary)

In [29]:
#dataset["gender"]=='M' 
#dataset[dataset["gender"]=='M']
dataset[dataset["gender"]=='M']["salary"]

0      270000.000000
1      200000.000000
2      250000.000000
3      288655.405405
4      425000.000000
           ...
209    216000.000000
210    400000.000000
211    275000.000000
212    295000.000000
214    288655.405405
Name: salary, Length: 139, dtype: float64

In [30]:
from scipy.stats import ttest_ind

male=dataset[dataset["gender"]=='M']['salary']
female=dataset[dataset["gender"]=='F']['salary']

#male,female
ttest_ind(male,female)

TtestResult(statistic=np.float64(1.9001627265152634), pvalue=np.float64(0.05876239427122641), df=np.float64(213.0))

In [31]:
#dataset[dataset['ssc_b']=="Others"]
#dataset[dataset["ssc_b"]=="Central"]

In [32]:
### groups should be categorical and Conditions should be in Numeric
#different grouops(others,central), same condition (salary)

from scipy.stats import ttest_ind
sscb_others_salary=dataset[dataset['ssc_b']=="Others"]['salary']
sscb_central_salary=dataset[dataset["ssc_b"]=="Central"]["salary"]
ttest_ind(sscb_others_salary,sscb_central_salary)

TtestResult(statistic=np.float64(0.06718399145137142), pvalue=np.float64(0.9464982502258081), df=np.float64(213.0))

# Dependent Paired T-test
## same group (Male) but Different Conditions (ssc_p,hsc_p)

In [33]:
#same group (Male) but Different Conditions (ssc_p,hsc_p)

from scipy.stats import ttest_ind

ssc_p_male=dataset[dataset["gender"]=="M"]['ssc_p']
hsc_p_male=dataset[dataset["gender"]=="M"]['hsc_p']

ttest_ind(ssc_p_male,hsc_p_male)

TtestResult(statistic=np.float64(0.462536606114424), pvalue=np.float64(0.6440609938866582), df=np.float64(276.0))

In [34]:
##same group(commerce)  diff condition(mba_p,etest_p)

from scipy.stats import ttest_ind

commerce_mba_pass=  dataset[dataset["hsc_s"]=="Commerce"]["mba_p"]
commerce_etest_pass=dataset[dataset["hsc_s"]=="Commerce"]["etest_p"]

ttest_ind(commerce_mba_pass,commerce_etest_pass)

TtestResult(statistic=np.float64(-7.079422262550767), pvalue=np.float64(1.844299454870846e-11), df=np.float64(224.0))

# Hypothesis Testing  #

## Null Hypothesis ## 
## Alternate Hypothesis ##
### Reject Null Hypothesis If P <.05 ###

In [35]:
## statement: if ssc_p,hsc_p of Male is same?

In [36]:
### T_Test
from scipy.stats import ttest_ind

ssc_p_male=dataset[dataset["gender"]=="M"]['ssc_p']
hsc_p_male=dataset[dataset["gender"]=="M"]['hsc_p']

ttest_ind(ssc_p_male,hsc_p_male)

TtestResult(statistic=np.float64(0.462536606114424), pvalue=np.float64(0.6440609938866582), df=np.float64(276.0))

In [37]:
##Conclusion: P value is not less than .05. So Accept Null hypothesis and Reject Alternate hypothesis.  ####

### Null Hypothesis: There is no similarity between ssc_p of male and hsc_p of Male ####

# Anavo: Analysis of Variance- 
## a statistical method to examine how a dependent variable changes as the value of a categorical independent variable changes...it serves the same purpose of T-Test

### if p<0.05 Reject Null Hypothesis, accept Alternate Hypothesis
#### otherwise Accept Null Hypothesis, Reject Alternate hypothesis

In [38]:
import scipy.stats as stats
stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=np.float64(0.6719700864663097), pvalue=np.float64(0.5110602818995302))

In [40]:
#Statement: if ssc_p, hsc_p, degree_p are same? 

# H0- There is a No significance difference between ssc_p, hsc_p, degree_p
# H1- There is a significance differnece between  ssc_p, hsc_p, degree_p

# Justification: Since the p value is not less than <0.05, Accept Null Hypothesis Reject Alternate hypothesis